@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #2B9348;
    background-image: url(https://images.unsplash.com/photo-1553406442-a5299f8bc127?q=80&w=2530&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    color: #565050;
    font-family:Arial, Helvetica, sans-serif;
}